body {
    background-color: #e6ffeb;
    font-family: Georgia;
    text-align: center;
}

button {
    margin: 7px;
    padding: 12px;
    background-color: #ffbdf6;
    border: none;
    color: white;
}

button {
    margin: 7px;
    padding: 12px;
    background-color: #ffbdf6;
    border: none;
    color: white;
}

button:nth-of-type(2n) {
    background-color: #cce0ff;
}

.selected {
    background-color: #444444 !important;
}
