body {
    background-color: #e6ffeb;
    font-family: Georgia;
    text-align: center;
}

button {
    margin: 7px;
    padding: 12px;
    background-color: #ffbdf6;
    border: none;
    color: white;
}

button:nth-child(2n) {
    background-color:#fad9f6;
}

button:nth-child(3n) {
    background-color:#cce0ff;
}

button:nth-child(4n) {
    background-color:#dff5da;
}
   
